*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    text-align: center;
    background-color: steelblue;
}
html{
    background-color: steelblue;
    background-image: url(../images/download.jpg)
}

header h2{
    padding: 25px;
    color: white;
    text-align: center;
    font-size: 130%;
    font-weight: bold;
    
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100%;
    max-width: 850px;
    border: 3px solid steelblue;
    margin: 0 auto;
    background-color: white;
}
p{
    padding: 10px;
}

img{
    padding: 25px;
    max-width: 500px;

}
div{
    display: flex;
    clear: both;
    margin-bottom: 50px;

}
div:nth-of-type(even){
    flex-direction: row-reverse;
}
footer{
    background-color: steelblue;
}
footer p{
    padding: 25px;
    color: white;
    text-align: center;
    font-size: 80%;
    font-weight: bold;
    font-variant: small-caps;
}
